* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #1e456f;
    --sb-size: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 22px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 22px;
    border: 2px solid #1e456f;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

.menu {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}


.menu nav ul img {
    height: 2rem;
    width: 2rem;
    margin-right: 50rem;
    margin-bottom: -0.5rem;
    margin-left: 2.5rem;
}

.menu nav {
    background-color: white;
    width: 100vw;
}


.menu nav li {
    display: inline-block;
}

.menu nav li a {
    display: block;
    color: #13072e;
    text-decoration: none;
    padding: 1rem;
}

.menu nav li a:hover {
    background-color: #dfdfdf;
}

.dropdown-menu {
    transition: all 0.5ms ease-in-out;
    position: absolute;
    box-shadow: 0 0 2px #13072e;
    background-color: white;
    display: none;
}

.dropdown-menu a {
    font-size: 0.75rem;
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
    transform: scale(1.1);
}

.centro {
    background-color: white;
    margin: 6rem 2rem 2rem 2rem;
}

.centro_centro {
    display: flex;
    justify-content: center;
    background-color: #b3aaff;
    padding: 1rem;
    border-radius: 2rem;
    height: 70vh;
}


.centro_centro_dir {
    padding: 2rem;
    width: 50%;
}

.centro_centro_dir h1 {
    font-size: 2rem;
    margin-left: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.centro_centro_dir p {
    text-align: justify;
    font-size: 1.25rem;
    margin-left: 3rem;
}

.centro_centro_esq {
    width: 50%;
}

.centro_centro_esq img {
    width: 30rem;
    height: 30rem;
    margin-left: 10rem;
    margin-top: -1rem;
}

.footer {
    background-image: linear-gradient(45deg,#7D78B3,#666191,#666191) ;
    color: white;
    padding: 2rem;
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}


.container {
    padding: 1.5rem;
    width: 65%;
    height: 490px;
    margin: auto;
    background-color: #b3aaff;
    border-radius: 2rem;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.container div h1 {
    font-size: 2rem;
    margin-left: 1rem;
    color: #13072e;
}

.container div img {
    margin-left: 7rem;
    width: 5rem;
    height: 5rem;
}

#espaco{
   margin-left: 12rem; 
}

#botao_meio{
    margin-right: 1rem;
}

#botao_devolver{
    margin-right: 1rem;
    width: 15vw;
}

.container form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 400px;
    color: #fff;
    transform: translateX(25px);
}

.form-group {
    margin-bottom: 8px;
}

.container label {
    color: #13072e;
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.container input[type="text"],
input[type="number"],
select {
    appearance: none;
    border: none;
    width: 100%;
    padding: 7px;
    font-size: 16px;
    margin-top: 2px;
    border: 1px solid #0056b3;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: #f0edff;
    color: #13072e;
    font-size: 16px;
}

.container input[type="submit"] {
    width: 40%;
    background-color: #1e456f;
    color: white;
    border: 1px solid #0056b3;
    border-radius: 1rem;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    align-self: center;
}

.container input[type="date"]{
    width: 100%; 
    appearance: none;
    border: none;
    padding: 7px;
    font-size: 16px;
    margin-top: 2px;
    border: 1px solid #0056b3;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: #f0edff;
    color: #13072e;
    font-size: 16px;
}

.container input[type="submit"]:hover {
    background-color: #0056b3;
}

.titulo-form {
    color: #13072e;
    transform: translateX(-35px);
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #1e456f;
    padding: 8px;
    text-align: center;
}

tr {
    background-color: #b3aaff;
}

th {
    color: #13072e;
    background-color: #9a8efd;
}

.emprestimo_livro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 60vh;
    background-image: linear-gradient(45deg,#958ED4,#ADA5F6,#b3aaff) ;
    border-radius: 3rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.emprestimo_livro h1 {
    font-size: 2rem;
    color: #13072e;
}

.emprestimo_livro input[type="submit"] {
    width: 15vw;
    background-color: #1e456f;
    color: white;
    border: 1px solid #0056b3;
    border-radius: 1rem;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-left: 3rem;
}

.emprestimo_livro input[type="submit"]:hover {
    background-color: #0056b3;
}

.emprestimo_livro input[type="date"]{
    width: 100%; 
    appearance: none;
    border: none;
    padding: 7px;
    font-size: 16px;
    margin-top: 2px;
    border: 1px solid #0056b3;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: #f0edff;
    color: #13072e;
    font-size: 16px;
}

.container .titulo-form-estudante{
    color: #13072e;
    transform: translateX(-15px);
    margin-top: -30px;
}

.container h3{
    font-size: 22px;
    color: #1d0b48;
    margin-top: -30px;
    align-self: center;
}

.container .editarLivro-form{
    margin-left: 80px;
    margin-top: 15px;
}

.container .titulo-form-autor{
    margin-right: 20px;
}

.container .titulo-form-editarAutor{
    margin-right: 75px;
}

