body {
    font-family: Arial;
}
.container {
    width: 300px;
    margin: 50px auto;
}
form {
    display: flex;
    flex-direction: column;
}
input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
input[type="button"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #004794;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgb(0, 64, 133);
}
.mensagem {
    margin-top: 10px;
    color: green;
}
button{
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
button a{
    color: white;
    text-decoration: none;
}